@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

.flexibleDiv {
  width: 95%; /* Adjust based on your requirement */
  height: fit-content; /* Adjust based on your requirement */
  padding: 10px; /* Adjust based on your requirement */
  margin: 10px; /* Adjust based on your requirement */
  border: 1px solid grey;
  background-color: white; /* Remove this line if you want no background */
}

